#about-container {
	margin-top: 95px;
	text-align: left;
}

#about-title {
	font-size: 26px;
	font-weight: 400;
}

#about-text {
	font-size: 16px;
	margin-top: 22px;
	line-height: 28px;
	font-weight: 300;
}

#link {
	color: #22799D;
}

@media screen and (max-width: 581px) {

	#about-container {
		width: 90%;
		margin-top: 75px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
}