#contact-details-container {
	font-size: 16px;
	font-weight: 300;
}

.icon-cell {
	width: 75px;
	text-align: left;
}

td {
	vertical-align: top;
}

.link {
	color: #000;
	text-decoration: underline;
}

.last {
	padding-top: 3px;
}

#contact-details-table {
	margin-top: 5px;
}

@media screen and (min-width: 864px) {

	#contact-details-table {
		width: 220px;
		margin-left: 34px;
		border-spacing: 37px;
	}
	
	#contact-details-container {
		float: left;
	}
}

@media screen and (max-width: 863px) {

	#contact-details-container {
		width: 100%;
		display: block;
		text-align: center;
	}		

	.contact-details-cell {
		text-align: left;
	}

	#contact-details-table {
		width: 200px;
		margin: 0 auto;
		border-spacing: 30px;
	}
}