@font-face {
    font-family: 'avenir-book';
    src: url('../fonts/AvenirLTStd-Book.eot');
    src: url('../fonts/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLTStd-Book.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Book.woff') format('woff'),
        url('../fonts/AvenirLTStd-Book.ttf') format('truetype'),
        url('../fonts/AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

#contact-form-container {
	font-family: avenir-book;
	margin-top: 40px;
	margin-right: 70px;
	vertical-align: top;
}

.input-field {
	width: 235px;
	height: 20px;
	border: 1px solid #C9C9C9;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    outline: none;
    font-family: avenir-book;
}

#message-input {
	height: 57px;
}

#submit-button {
	font-family: avenir-book;
	width: 245px;
	height: 30px;
	font-size: 14px;
	border: none;
	background-color: #5172C5;
	color: #FFF;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    font-weight: bold;
}

#submit-button:hover {
	background-color: #4265BD;
}

#submit-button:active {
	background-color: #5172C5;
}

::placeholder {
	font-family: avenir-book;
	font-size: 14px;
}

@media screen and (min-width: 864px) {
	
	#contact-form-container {
		float: right;
	}
}

@media screen and (max-width: 863px) {

	#contact-form-container {
		width: 100%;
		display: block;
		text-align: center;
		margin-top: 15px;
	}		
}