#contact-form-container {
	margin-top: 40px;
	margin-right: 70px;
	vertical-align: top;
	font-weight: 300;
}

.input-field {
	width: 235px;
	height: 20px;
	border: 1px solid #C9C9C9;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
	outline: none;
	font-weight: 300;
}

#message-input {
	height: 57px;
}

#submit-button {
	width: 245px;
	height: 30px;
	font-size: 14px;
	border: none;
	background-color: #0F4464;
	color: #FFF;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    outline: none;
	font-weight: 300;
}

#submit-button:hover {
	background-color: #22799D;
}

#submit-button:active {
	background-color: #0F4464;
}

::placeholder {
	font-size: 14px;
	font-weight: 300;
}

@media screen and (min-width: 864px) {
	
	#contact-form-container {
		float: right;
	}
}

@media screen and (max-width: 863px) {

	#contact-form-container {
		width: 100%;
		display: block;
		text-align: center;
		margin-top: 15px;
	}		
}