#contact-container {
	margin-top: 75px;
	text-align: left;
}

#contact-title {
	font-size: 26px;
	font-weight: 400;
}

#contact-text {
	font-size: 16px;
	margin-top: 22px;
	line-height: 28px;
	font-weight: 300;
}

@media screen and (min-width: 864px) {

	#contact-container {
		min-width: 300px;
	}

	#contact-table {
		width: 800px;
		display: table;
	}

}

@media screen and (max-width: 581px) {

	#contact-container {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}
