#footer {
	width: 100%x;
	height: 70px;
	text-align: center;
	background-color: #F0F0F0;
	position: relative;
	float: bottom;
	margin-top: 70px;
	min-width: 300px;
	border-top: #dddddd solid 1px;
}

#footer-text {
	line-height: 50px;
	font-size: 16px;
	font-weight: 300;
}

 /*"max-age=604800000"  */