#header {
	width: 100%;
	height: 80px;
	background-color: #2A50A9;
	min-width: 300px;
}

#logo {
	margin-left: 45px;
	margin-top: 23px;
	user-select: none;
}

a {
	text-decoration: none;
}

#icon-table {
	float: right;
	margin-right: 24px;
	height: 56px;
	width: 100px;
	vertical-align: bottom;
}

.social-icon-cell {
	text-align: center;
	vertical-align: bottom;
}

@media screen and (max-width: 581px) {

	#logo {
		margin-left: 30px;
	}
}

@media screen and (max-width: 516px) {

	#logo {
		margin-left: 25px;
	}

	#icon-table {
		margin-right: 20px;
	}
}