@font-face {
    font-family: 'avenir-book';
    src: url('../fonts/AvenirLTStd-Book.eot');
    src: url('../fonts/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLTStd-Book.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Book.woff') format('woff'),
        url('../fonts/AvenirLTStd-Book.ttf') format('truetype'),
        url('../fonts/AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}
  

#name-container {
	width: 100%;
	background-color: #F0F0F0;
	text-align: center;
	vertical-align: middle;
	position: relative;
}

#inner-container {
	top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	position: absolute;
}

#name-text {
	font-size: 36px;
	font-family: avenir-book;
	position: absolute;
}

#designation-text {
	font-size: 20px;
	font-family: avenir-book;
	color: #575757;
	position: absolute;
}

@media screen and (min-width: 864px) {


	#name-container {
		height: 300px;
	}

	#right-text {
		float: right;
		width: 550px;
	}

	#inner-container {
		top:0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    margin: auto;
		width: 800px;
		height: 200px;
		text-align: left;
		position: absolute;
	}

	#name-text {
		margin-top: 62px;
	}

	#designation-text {
		margin-top: 102px;
	}
}

@media screen and (max-width: 863px) {

	#name-container {
		height: 420px;
	}

	#photo {
		position: relative;
		display: block;
		top: 50px;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto; 
	}

	#right-text {
		display: inline-block;
		margin: 0 auto;
		width: 90%;
	}

	#inner-container {
		width: 100%;
		text-align: center;
	}

	#name-text {
		text-align: center;
		position: relative;
		width: 100%;
		top: 100px;
	}

	#designation-text {
		position: relative;
		width: 100%;
		top: 110px;
	}
}

@media screen and (max-width: 581px) {

	#name-text {
		font-size: 32px;
	}

	#designation-text {
		font-size: 18px;
		top: 110px;
	}
}

@media screen and (max-width: 516px) {

	#name-container {
		height: 450px;
		min-width: 300px;
	}

	#designation-text {
		top: 110px;
	}
}